

#root {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-family: 'PT Sans', sans-serif;
  min-width: 860px
}


.header {
  height: 140px;
  /* padding-top: 2rem; */
  /* padding-bottom: 2rem; */
  display: grid;
  grid-template-columns: 42% 2fr 1fr;
  padding-right: 3em;
  background:#556b2f;
  color: white;
  align-items: center;
  filter: drop-shadow(0 2px 5px #3a3b3c)


}

@media (max-width: 1160px) {
  .header {
    grid-template-columns: 42% 1fr;
    
  }
}

#shoetracker-logo {
  font-family: 'PT Sans', sans-serif;
  font-family: 'Rubik Moonrocks', sans-serif;
  font-size: 70px;
  font-weight: 200;
  margin: 0;
  margin-top: 40px
}

@media (max-width: 1600px) {
  #shoetracker-logo {
    margin-left: 30px;
    margin-right: 20px
    }
}

.topnav {
  display: flex;
  margin-bottom: 60px
}

@media (max-width: 1160px) {
  .topnav {
    display: none
  }
}

.topnav * {
  padding: 15px;
  font-size: 20px;
  color: white;
  text-decoration: none; 
  font-weight: 500;
  flex-wrap: wrap;
  transition: all 4s ease;
}

.topnav *:hover {
  text-decoration: underline

}

#add-new-shoe-button {
  background: #e75480;
  color: white;
  border: 0 solid #e5e7eb;
  margin-left: 20px;
  height: 30px;
  margin-right: 15px;
  font-family: Serif;
  font-size: 18px;
  border-radius: 4px;
  font-family: 'Lato', sans-serif;
  font-family: 'PT Sans', sans-serif;
  transition: all .25s ease;
  margin-bottom: 60px


}

#add-new-shoe-button:hover {
  background: #c0345f;
  
}

@media (max-width: 1160px) {
  #add-new-shoe-button {
    width: 175px;
    margin: auto
    }
}


#add-new-form * {
  padding: 3px;
  margin: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: solid;
  border-width: 2px;
  border-color: gray

}

#add-new-form *:hover {
  filter: drop-shadow(0 0 .75px)
}

#terrain-select {
  color: gray
}

#add-new-shoe-form-title {
  text-align: center
}

#add-new-shoe-form-button {
  background: #e75480;
  color: white;
  border: none;
  padding: 5px;
  transition: all .25s ease;

}

#add-new-shoe-form-button:hover {
  background: #c0345f;
  
}


.main-page {
  display: grid;
  gap: 3rem;
  grid-template-rows: 18% 2.5fr 1fr;
  background-image: url("./boulderrunning.jpg");
  background-attachment: fixed;
  justify-items: center;
  height: 900px

 
}


#sidebar {
  padding-right: 50px;
  display: flex;
  height: 300px;
  align-items: flex-start
}


.shoeblock {
  /* width: 40%; */
  width: 100px;
  float: left;
  border-radius: 25px;
  padding: 20px;
}

.shoeblock:hover {
  opacity: .75
}

.shoedetails {
  display: flex;
  align-content: center;
  font-family: 'Lato', sans-serif;
  font-family: 'PT Sans', sans-serif;
  margin-top: 50px;
  gap: 30px;
  align-items: start;
  justify-items: center;
  max-width: 1000px;
  min-width: 600px;
  color: white
}



.shoedetails * {
  font-family: 'Lato', sans-serif;
  font-family: 'PT Sans', sans-serif;
  list-style-type: none;

}

#complete-details {
  width: 250px

}

#complete-details * {
  text-align: right
}


#img-and-delete {
  text-align: center;
  max-width: 400px
}


.shoedetails img {
  border-radius: 18px;
  width: 100%;
  align-items: center
}

#deletebutton {
  background: #bb1e10;
  color: white;
  border-radius: 3px;
  border: none
}

#notes-and-add-run {
  text-align: left;
  width: 250px
}

#add-note-input {
  background: rgba(0,0,0,0);
  color: white;
  border: none;
  border-radius: 4px;
  width: 60%

}

#add-note-input::placeholder {
  color: white;
  font-size: 15px
}

#add-note-form * {
  display: inline-block
}

#add-note-button {
  background: #556b2f;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 2px;
  
}


.add-new-run * {
  font-size: 15px;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  float: left;
  border: none;

}

#add-new-run-button {
  height: 35px;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 15px;
  padding: 5px;
  border-radius: 4px;
  border: none;
  background: #e75480;
  color: white 
}

#bolderboulderspacer {
  background-image: url(https://www.bolderboulder.com/wp-content/uploads/2023/05/UPDATEDBB_Web_Gallery_Start1.jpg);
  background-attachment: fixed;
  height: 400px
}


#analytics-div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  justify-content: center;
  height: 100%;
  background-image: url("./boulderrunning.jpg");
  background-attachment: fixed
  
}

#charts {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 60px;
  /* max-width: 800px */

}

.details-box {
  height: 50%;
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(0,0,0,.3);
  color: white;
  line-height: 1.6



}

#details-box-piechart {
  text-align: left;
}

#details-box-barchart {
  text-align: right;
  
}

.resources-list * {
  text-decoration: none;
  color: white;
}



#pie-chart * {
  width: 100%;  
}

#mileage-percentages-div {
  border: none;
  border-radius: 6px;
  background: #556b2f;
  color: white;
  padding: 15px;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 200px;
  min-width: 200px;
  text-align: left;
  filter: drop-shadow(0 0 2px #3a3b3c)

}

@media (max-width: 1300px) {
  #mileage-percentages-div {
    display: none
  }
}


#analytics-title {
  height: 150px;
  text-align: left;
  padding-left: 40px;
  padding-bottom: 20px;
  font-weight: 200;
  font-size: 50px;
  background: #001f3f;
  margin: 0;
  color: white;
  display: flex;
  align-items: end
}

#barchart {
  margin-left:10px
}

#spacer2 {
  height: 300px;
  background: #001f3f;
}







